/*
PROGRAM: 		Jabstar Aviation Fuel Stop Planner (AUSTRALIA).
AUTHOR: 		Don Cameron.
DATE: 			University summer break - 2021/2022.
PURPOSE: 		To practice web app development skills learnt in first yer of IT degree at Victoria University, Melbourne, Victoria, Australia (PHP, MySQL, HTML,CSS).

				See 'jabstar/readme.txt' for more details
*/

header {
		float: left;
}

nav {
	text-align: center;
}

nav	li{	
		display: inline;	
		
}

main {
	text-align: center;	
}

footer {
	text-align: center;	
}
.routelist {	
	text-align: left;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	padding: 2px;
	border-spacing: 20px;
}

.login {
	float: right;
}

.logout {
	float: right;
}
 .head h2{
	 display: inline;
 }
 
 
